.navbar {
  font-size: 0.9rem;
}

.navbar-brand {
  font-size: 1.2rem;
}

.nav-link {
  color: #333;
}

.nav-link:hover {
  color: var(--green-color);
}

.form-control {
  border-radius: 20px;
  background-color: var(--neutral-color);
  border: none;
}

.btn-outline-success {
  border-radius: 50%;
  padding: 6px 10px;
}
